{% extends "layout.html" %}
{% block content %}
    <section class="page-section clearfix">
      <div class="container">
        <div class="intro">
          <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="static/img/intro.jpg" alt="">
          <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">ABOUT</span>
              <span class="section-heading-lower">CATEYE Movie</span>
            </h2>
            <p class="mb-3">CATEYE Movie is an Internet movie entertainment platform that integrates diversified businesses including online ticket sales, user interaction, media content marketing, and movie derivative sales. According to some statistics, it is now ranking the first in China's online movie ticket sales market. A top 100 movies list according to the score of each movie given by CATEYE users. If you are looking for some good movies, you could take this chart as a reference.
            </p>
            <div class="intro-button mx-auto">
              <a class="btn btn-primary btn-xl" href="chart">See the Chart!</a>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock content %}
